/* General Purpose Elements */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body {
	background: rgb(1, 37, 90) url("../images/cyber-security.jpg") no-repeat center fixed;
	background-size: cover;
	color: rgb(84, 85, 91);
	font: 1em 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
	color: rgb(5, 114, 218);
	text-decoration: none;
}

a:hover {
	color: rgb(240, 99, 44);
}

h2 {
	margin: 0;
}

p {
	margin-bottom: 0;
}

section {
	box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3);
	padding: 20px;
}

pre {
	background: whitesmoke;
}



/* General Purpose Classes */

.centre980 {
	margin: 0 auto;
	width: 980px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}


/* Navigation Bar */

#navigation-bar {
	background-color: rgb(34, 35, 40);
	height: 46px;
}

nav a {
	color: white;
	display: inline-block;
	font-weight: bold;
	padding: 11px;
	text-decoration: none;
}

#navigation-list li {
	display: inline;
}


/* Header */

header h1 {
	display: none;
}


/* Page Content */

#page-content {
	margin-top: 20px;
}


/* Explanation */

#explanation {
	background-color: white;
	border-left: 5px solid rgb(240, 99, 44);
	width: 430px;
}

#explanation h2 {
	color: rgb(240, 99, 44);
}


/* List of Services */

#service-list {
	width: 480px;
}

#service-list a:hover {
	color: rgb(240, 99, 44);
}

#service-list li {
	box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3);
	padding: 20px;
	margin-bottom: 20px;
}

.sub-text {
	margin-top: 0;
}

#service1 {
	background: white url("../images/keyperson-green.png") no-repeat top right;
	background-size: 120px 65px;
	border-left: 5px solid rgb(34, 177, 76);
}

#service1 h2 a {
	color: rgb(34, 177, 76);
}

#service2 {
	background: white url("../images/keyperson-blue.png") no-repeat top right;
	background-size: 120px 65px;
	border-left: 5px solid rgb(63, 72, 204);
}

#service2 h2 a {
	color: rgb(63, 72, 204);
}

#service3 {
	background: white url("../images/keyperson-purple.png") no-repeat top right;
	background-size: 120px 65px;
	border-left: 5px solid rgb(128, 0, 128);
}

#service3 h2 a {
	color: rgb(128, 0, 128);
}


/* Success Pages */

#basic-success {
	background: white url("../images/keyperson-green.png") no-repeat top right;
	background-size: 120px 65px;
	border-left: 5px solid rgb(34, 177, 76);
}

#basic-success h2 {
	color: rgb(34, 177, 76);
}

#standard-success {
	background: white url("../images/keyperson-blue.png") no-repeat top right;
	background-size: 120px 65px;
	border-left: 5px solid rgb(63, 72, 204);
}

#standard-success h2 {
	color: rgb(63, 72, 204);
}

#restricted-success {
	background: white url("../images/keyperson-purple.png") no-repeat top right;
	background-size: 120px 65px;
	border-left: 5px solid rgb(128, 0, 128);
}

#restricted-success h2 {
	color: rgb(128, 0, 128);
}

#error-content {
	background: white url("../images/keyperson-red.png") no-repeat top right;
	background-size: 120px 65px;
	border-left: 5px solid rgb(217, 24, 1);
}

#error-content h2 {
	color: rgb(217, 24, 1);
}


/* 

Colour Palette

dark		34, 35, 40
grey		84, 85, 91
blue		4, 60, 139
navy		1, 37, 90
crimson		115, 4, 2

blue		5, 114, 218
light blue	66, 163, 241
orange		240, 99, 44
red			217, 24, 1
black		13, 13, 16

Logos

green		34, 177, 76
blue		63, 72, 204
purple		128, 0, 128

*/
