<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{home.welcome}">Welcome to the Agency Application</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/normalize.css}" href="../static/css/normalize.css" />
<link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css" />
</head>

<body>

	<div th:include="home :: navigation-bar" id="navigation-bar">
		<nav class="centre980">
			<a th:href="@{/}" href="home.html">Home</a>
			<ul id="navigation-list" class="right">
				<li><a href="#">About</a></li>
				<li><a href="#">QGCIDM</a></li>
				<li><a href="#">Agency</a></li>
				<li><a href="#">Help</a></li>
			</ul>
			<form th:action="@{/logout}" id="spring-logout" method="post"></form>
		</nav>
	</div>

	<div id="page-content" class="clear centre980">
		<section id="error-content">
			<h2>Access Denied</h2>
			<p>Your access to this service has been denied for security reasons. Please log in to view this service.</p>
		</section>	
	</div>
</body>
</html>
